target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

###
src/main/java/org/nautilus/debug_local/
.idea/
/tomcat.8080/
/out/artifacts/edo/
/lib/jetty-server-9.4.48.v20220622.jar
/lib/jetty-servlet-9.4.48.v20220622.jar
/src/main/java/org/nautilus/JettyEmbeddedServer.java
/out/
